cscope.*
*.__i
*.a
*.app
*.cmd
.config
.config.old
*.d
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
*.exp
*.bin
*.axf
*.build_log.*
*.uvgui.*
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lo
*.map
*.htm
*.lnp
Mkfile.old
modules.order
Module.symvers
*.o
*.obj
*.orig
*.out
*.pch
*.pdb
*.rej
*.so.*
*.su
*.swp
tags
*.tmp
.tmp_versions/
*un~
*.x86_64
*.lst
*.uvguix.*
*/Objects/*
*/Output/*
*/DebugConfig/*
*/RTE/*
*.crf
MDK-ARM/DebugConfig
MDK-ARM/RTE
MDK-ARM/TY38_EPS
!*.exe

